body{
    background-color:#6E9ADC;
    color: black;
    font-family: "Protest Guerrilla", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: #DBB76E;
    color: black;
    font-family: "Protest Guerrilla", sans-serif;;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width:90%;
}

img {
    max-width:80%;
}